@font-face {
    font-family: 'm6x11';
    src: url(src/font/m6x11-BV674e_g.ttf);
}

html {
    
}

body {
    font-family: 'm6x11', sans-serif;
    font-size: 18px;
    background-image: url('src/img/background-static.png');
    color: white;
    margin-top: 2em;
    margin-bottom: 4em;
    border-radius: 3em
}


#content-root {
    background-color: rgba(128, 128, 128, 0.7);
}

h1 {
    font-family: 'Righteous', sans-serif;
    font-size: 100px
}

em {
    font-weight: bold;
}

.bg-display {
    background-color: rgb(122, 122, 122);
}

#seed-display {
    /* font-family: 'VT323', sans-serif; */
    font-family: 'm6x11', monospace;
    font-weight: bold;
    font-size: 40px;
    color: white
    
}

#deck-display {
    font-family: 'm6x11', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: white
}

#stake-display {
    /* font-family: 'Pixelify Sans', sans-serif; */
    font-weight: bold;
    font-size: 32px;
    color: white
}

footer {
}