@font-face {
    font-family: 'm6x11';
    src: url(src/font/m6x11-BV674e_g.ttf);
}


body {
    font-family: 'm6x11', sans-serif;
    font-size: 18px;
    background-image: url('src/img/background-static.png');
    color: white;
    margin-top: 2em;
    margin-bottom: 4em;
    border-radius: 3em
}

.tab-content{
    border-radius: 1em;
}

#deck-image {
    height: auto;
    width: 160px
}

#deck-dropdown-root img {
    margin-right: .5em;
}

#stake-dropdown-root img {
    margin-right: .5em;
}
.fade {
    transition-duration: 100ms;
}

#content-root {
    background-color: rgba(128, 128, 128, 1);
    z-index: 2;
}

h1 {
    font-family: 'Righteous', sans-serif;
    font-size: 100px
}



.bg-display {
    background-color: rgb(122, 122, 122);
    border: black
}

#seed-display {
    /* font-family: 'VT323', sans-serif; */
    font-family: 'm6x11', monospace;
    font-weight: bold;
    font-size: 40px;
    color: white
    
}

#active-tab{
    border-radius: 1em;
    width: auto;
}

#tab-bar-custom{
    margin: 1em
    margin-bottom: 0em
    padding: .5em;
    border-radius: .5em
}


#deck-display {
    font-family: 'm6x11', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: white
}

#stake-display {
    /* font-family: 'Pixelify Sans', sans-serif; */
    font-weight: bold;
    font-size: 32px;
    color: white
}

footer {
    background-color: rgba(128, 128, 128, 0.596);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: fit-content;
    margin: 0 auto;
    padding-top:.5em;
    padding-left: 2em;
    padding-right: 2em;
}